<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="admin/admin-base"/>-->
<body>

<!--================Menu Area =================-->
<!--<div th:replace="fragment/adminHead"></div>-->
<!--================End Menu Area =================-->

<!--================login Area =================-->
<!--<div th:replace="fragment/adminFoot"></div>-->
<!--================End login Area =================-->
<!--<footer th:replace="fragment/footer"/>-->
</body>
</html>