<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Card</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="modal fade" id="followingModal" role="dialog" th:fragment="modalContents">
      <div class="modal-dialog modal-sm">
         <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Following</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                  </button>
           </div>
              <div class="model-body">
                    <div class="fitem mt20" th:each="obj, iterStat : ${followingUsers}">
                       <img class="smallImg floatleft"  th:src="@{${obj.followedUser.profile.photo.path}}"/>
                       <a th:href="@{'/profile/'+${obj.followedUser.username}}"><strong th:text="${obj.followedUser.username}"></strong></a>
                       <p th:id="@{'item'+${obj.followedUser.id}}" class="c999" th:text="${obj.followedUser.profile.fullName}"></p>
                       <a class="follow uptake-btn enabled littleFollow" th:href="'/profile/follow/' + ${obj.followedUser.id}" th:data-id="${obj.followedUser.id}"
                          th:id="@{'anchorFollow'+${obj.followedUser.id}}">Follow</a>
                  </div>
              </div>
          </div>
       </div>
      <script>
          $(".follow").click(function(e){
              e.preventDefault();
              var id = $(this).data("id");
              console.log("Follow by ajax called"+id);
              var btn = $(this);
              $.ajax({
                  url: "/profile/followbyajax/" + id,
                  success: function(data) {
                      var obj = JSON.parse(data);
                      if(obj.result){
                          $(btn).hide(300,function () {
                              $("#item"+id).append("<i>Following</i>").show(200);
                          });
                      }else{
                          console.log("Already following");
                      }
                  }
              });
          });
      </script>
 </div>
</body>
</html>