<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Add Post</title>
</head>

<body>
<div class="container" style="margin-top: 50px;margin-bottom: 50px;">
    <form method="POST" action="#" th:action="@{/addPostPhoto}" th:object="${Post}">
        <div class="form-group" style="height: 400px;">
            <video id="divVideo" controls="controls" style="width: 100%; height: 100%">
                <source th:src="@{${photoPath}}" type="video/mp4">
                Your browser does not support the HTML5 Video element.
            </video>
            <script>
                $(document).ready(function () {
                    $('#inputfile').change(function () {
                        var file_data = $('#inputfile').prop('files')[0];
                        var form_data = new FormData();
                        form_data.append('file', file_data);
                        $.ajax({
                            url: "/uploadVideo",
                            enctype: 'multipart/form-data',
                            type: "POST",
                            data: form_data,
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: function (map) {
                                console.log(map);
                                $('#divVideo source').attr('src', "data:video/mp4;base64,"+map.byteArray);
                                $("#divVideo")[0].load();
                                $("#photoPath").val(map.path);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    });
                });
            </script>
            <input id="inputfile" type="file"/>
            <input id="photoPath" name="photo.path" style="visibility: hidden" th:value="${photoPath}"/>
        </div>
        <div class="form-group" style="margin-top: 50px;">
            <label for="title" th:text="#{message.post.title}"></label>
            <input type="text"  th:field="*{title}" class="form-control" id="title" name="title" th:placeholder="#{message.post.title}">
            <small id="emailHelp" class="form-text text-muted">Post Title</small>
        </div>
        <div class="" style="color: red;">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> # </p>
        </div>
        <div class="form-group">
            <label for="description" th:text="#{message.post.description}"></label>
            <input type="text" class="form-control" id="description" name="description" th:placeholder="#{message.post.description}">
        </div>
        <div class="" style="color: red;">
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> # </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>

</html>