<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hello! this is your home page.</p>
    <p> and i'm currently under construction so come back later.</p>
    <p> Thank you for your patientce. </p>
    <a href="/logout"><h3> but feel free to logout anytime you want! Just Click Here! </h3></a>

</body>
</html>